.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.Renviron
/_blog_no/
/_my_tuneando/
/_mas-cosas/
/_freeze/
/.quarto/
/_scripts/
_bitacora.qmd
_bitacora.html
_blog_a_github.R
_cortar.R
_presentacion.txt
_hacer.txt
.quarto
_bitacora_curso_2024.qmd
_bitacora_curso_2025.qmd
_bitacora_curso_2024.html
_bitacora_curso_2025.html
/_mails_etc/
/.luarc.json
feo.qmd